{% extends "layout.html" %}

{% block title %}
    register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
    </div>
    <div class="form-group">
        <input class="form-control" name="password" type="password" placeholder="password">
    </div>
    <div class="form-group">
        <input class="form-control" name="confirm password" type="password" placeholder="confirm password">
    </div>
    <button class="btn btn-primary"  name="submit" type="submit">Register</button>
    </form>

{% endblock %}
